<template>
  <v-container fluid>
    <v-row>
      <v-col v-for="project in projects" :key="project.name">
        <ProjectCard :project="project" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ProjectCard from '../components/ProjectCard.vue';
import projects, { Project } from '../data/projects';

@Component({
  components: {
    ProjectCard
  }
})
export default class Projects extends Vue {
  projects: Project[] = projects;
}
</script>
