<template>
  <div class="project-card">
    <v-hover open-delay="200" close-delay="200" v-slot:default="{ hover }">
      <v-card
        class="mx-auto"
        width="400"
        :class="{ 'project-card--card--hover': hover }"
      >
        <template v-if="project.image">
          <v-img
            class="white--text align-end project-card--image"
            :src="project.image"
          >
            <v-card-title>{{ project.title }}</v-card-title>
          </v-img>
        </template>
        <template v-else>
          <v-row class="project-card--no-image-container">
            <v-col align-self="end">
              <v-card-title>{{ project.title }}</v-card-title>
            </v-col>
          </v-row>
        </template>

        <v-expand-transition>
          <div v-show="hover" class="project-card--bottom">
            <v-card-text class="text--primary">
              <div>{{ project.description }}</div>
            </v-card-text>

            <v-card-actions>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="orange"
                    icon
                    :href="project.href"
                    target="_blank"
                    v-on="on"
                  >
                    <v-icon>mdi-web</v-icon>
                  </v-btn>
                </template>
                <span>Website</span>
              </v-tooltip>

              <v-tooltip top v-if="project.repository">
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="orange"
                    icon
                    :href="project.repository"
                    target="_blank"
                    v-on="on"
                  >
                    <v-icon>mdi-source-repository</v-icon>
                  </v-btn>
                </template>
                <span>Repository</span>
              </v-tooltip>
            </v-card-actions>
          </div>
        </v-expand-transition>
      </v-card>
    </v-hover>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import { Project } from '../data/projects';

@Component({})
export default class ProjectCard extends Vue {
  @Prop() project!: Project;
}
</script>

<style scoped>
.project-card {
  min-height: 350px;
}

.project-card--image {
  width: 400px;
  height: 200px;
}

.project-card--no-image-container {
  width: 400px;
  height: 200px;
  align-items: end;
  background-color: #2f4f4f;
  padding: 0;
  margin: 0;
}

.project-card--no-image-container .col {
  padding: 0;
}

.project-card--bottom {
  max-height: 150px;
}
</style>
