<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item
          link
          v-for="link in links"
          :key="link.to"
          v-bind:to="link.to"
        >
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ link.label }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    </v-app-bar>

    <v-content>
      <v-container class="fill-height" fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class App extends Vue {
  drawer = false;
  links = [
    { to: '/', label: 'Home', icon: 'mdi-home' },
    { to: '/about', label: 'About', icon: 'mdi-information' },
    { to: '/posts', label: 'Posts', icon: 'mdi-post' },
    {
      to: '/projects',
      label: 'Projects',
      icon: 'mdi-source-repository-multiple'
    }
  ];

  get breadcrumbs() {
    const crumbs = [{ text: 'meme.coach', to: '/' }];

    if (this.$route.name) {
      crumbs.push({ text: this.$route.name, to: this.$route.path });
    }

    return crumbs;
  }
}
</script>
